body {
    font-family: "proxima-nova", 'sans-serif';
    font-size: 18px;
}

.invisible {
    display: none;
}

.container {
    text-align: left;
    padding-bottom: 300px;
}

.articles {
    background: white;
    height: 580px;
    margin-left: 30px;
}

.logo {
    width: 200px;
    margin: auto;
    display: block;
    margin-top: 10px;

}

h1.title {
    font-size: 48px;
    font-family: "federico-web";
    margin-bottom: 20px;
}

h2 {
    font-size: 26px;
    font-weight: 300;
}

h2 a {
    color: #df5689;
}

h2 a:hover {
    text-decoration: none;
    color: #9f3966;
}

a:hover {
    text-decoration: none;
}

.title {
    text-align: center;
    color: #df5689;

}

.date {
    font-size: 16px;
}

.menu h2 {
    font-size: 16px;
}

.menu {
    font-size: 14px;
}

.menu a {
   color: #9e9a95;
}

.menu a:hover {
    color: #42403d;
}

.space-maker {
    margin-bottom: 35px;
    margin-top: 35px;
}

.single-post h2 {
    color: #df5689;
}

.tags h2 {
    color: #df5689;
}

.tags a {
    color: #9e9a95;
    font-size: 14px;
}

.tags .date {
    font-size: 12px;

}

.tags a:hover {
    color: #42403d;
}

.tags ul {
    list-style: none;
}

