body {
    font-family: avenir, sans-serif;
    font-size: 18px;
}

.container {
    text-align: justify;
    padding-bottom: 300px;
}

.articles {
    background: white;
    height: 580px;

}

.logo {
    width: 200px;
    margin: auto;
    display: block;
    margin-top: 10px;

}

h2 {
    font-size: 20px;
}

h2 a {
    color: #df5689;
}

h2 a:hover {
    text-decoration: none;
    color: #9f3966;
}

a:hover {
    text-decoration: none;
}

.title {
    text-align: center;
    color: #df5689;

}